[Desktop Entry]
Name=Corbomite
GenericName=Knowledge Manager
Comment=A native Obsidian-inspired note-taking application
Exec=Corbomite %F
Icon=com.concernednetizen.Corbomite
Type=Application
Terminal=false
Categories=Office;TextEditor;
Keywords=notes;markdown;knowledge;vault;wiki;
StartupNotify=true
X-KDE-StartupNotify=true
